<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="layout.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Document</title>
</head>

<body>
    <div class="mother">
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
        <div class="box4"></div>
    </div>
    <div class="content">
        <div class="content1">
            <img src="image/logo.jpeg">
            <ul>
                <li>Home</li>
                <li>List</li>
                <li>Blog</li>
                <li>Shop</li>
            </ul>
        </div>
        <div class="content2">
            <img src="image/3rd.jpg" alt="">
            <span>CLASSY</span>
            <h2>The hair you've been dreaming of</h2>
        </div>

        <div class="content3">

        </div>
    </div>

</body>

</html>